/* UTILITIES */
* {
        box-sizing: border-box;
    
    }
    :root {
        --frenchblue:  rgb(85,114,200);
        --cranberry: rgb(145, 46, 46);
      }  
    body {
    font-family: Tahoma;
    font-size: 20px;
    }
    .title2{
        text-align: center;
        font-family: Times;
        font-size: 40px; 
        font-weight: 100;
        line-height: 50px;

    }
 .page {
    margin: 50px;
 }   
    a {

    text-decoration: none;
    }
    
    li {
    list-style: none;
    }
.box {
    background-color: var(--frenchblue);
    opacity: 1;
    padding: 50px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: 0px;
    width: fit-content;
    color: white;
}

.imgbox{
    background-color: var(--frenchblue);
    opacity: 100%;
    padding: 50px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: 0px;
    height:400px;
    width: auto;
    color: white;
    margin-right: 0px;
}
.box:hover {
    transform: translateY(-10px);
}
h2 {
    font-family: Times;
    font-size: 40px; 
    font-weight: 100;
    display: flex;
    line-height: 50px;
}
.title1 {
    color: var(--cranberry);
    font-family: Verdana;
    font-size: 12px; 
}

.freddie {
    float: right;
    height: 300px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 150px;
    padding: 20px;
    background-color: #fff;
    color: black;
}
.navbar:hover{
    background-color: var(--frenchblue);
    color: #fff;
    transition: 1s ease;
}
    .nav-links a {
        color: rgb(0, 0, 0);
    }
    
    .nav-links a:hover{
        color: white;
    }
    /* LOGO */
    .logo {
        font-size: 32px;
        font-family: Times;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }
    
    .menu li:hover {
        border-radius: 5px;
        color: white;
    }
    
    .menu li {
        padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    
   .bottom {
    justify-content:center;
    text-align: center;
    align-items: center;
    position: absolute;
    color: #fff;
    width: 100%;
    margin-left: -55px;
   }
   .bottom h2 {
    text-align: center;
    justify-content:center;
  }

   button {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid white; 
    transition-duration: 0.4s;
    width: 200px;
    height:50px;
   }
   button:hover {
    background-color: var(--frenchblue); /* Green */
    color: white;
  }


  /*Table*/

 table {
    width: 900px;
    border-collapse: collapse;
 }

 th {
    padding: 15px;
    padding-right:50px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: var(--cranberry);
    color: white;
 }
 
 td {
    padding: 15px;
    padding-right:50px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }

  tr:not(:first-child):hover{
    background-color: var(--cranberry);
    opacity: 50%;
    color: white;
    font-style: italic;
 }

 .label {
    display: inline;
 }
 

 .chartbox {
    width:100px; 
    height:100px;
    float: left;
    display: block;
 }

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  float: left;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}

