/* UTILITIES */
* {
        box-sizing: border-box;
    
    }
    :root {
        --frenchblue:  rgb(42, 48, 135);
        --cranberry: rgb(145, 46, 46);
      }  
    body {
    font-family: Tahoma;
    }
    
 .page {
    margin: 50px;
 }   
    a {

    text-decoration: none;
    }
    
    li {
    list-style: none;
    }
.box {
    background-color: var(--frenchblue);
    opacity: 50%;
    padding: 50px;
    width:fit-content;
    color: white
}

.box:hover {
    transform: translateY(-10px);
}
h2 {
    font-family: Times;
    font-size: 40px; 
    font-weight: 100;
    display: flex;
    line-height: 30px;
}
.title1 {
    color: var(--cranberry);
    font-family: Verdana;
    font-size: 12px; 
}

.freddie {
    float: right;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--frenchblue);
    color: #fff;
}
    
    .nav-links a {
        color: #fff;
    }
    
    /* LOGO */
    .logo {
        font-size: 32px;
        font-family: Times;
    }
    
    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }
    
    .menu li:hover {
        background-color: #4c9e9e;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    
    .menu li {
        padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    
    .services {
        position: relative; 
    }
    
    .dropdown {
        background-color: rgb(1, 139, 139);
        padding: 1em 0;
        position: absolute; /*WITH RESPECT TO PARENT*/
        display: none;
        border-radius: 8px;
        top: 35px;
    }
    
    .dropdown li + li {
        margin-top: 10px;
    }
    
    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    }
    
    .dropdown li:hover {
        background-color: #4c9e9e;
    }
    
    .services:hover .dropdown {
        display: block;
    }

   .bottom {
    align-items: center;
    justify-content:center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: var(--frenchblue);
    color: #fff;
    float: center;
   }

   button {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid var(--cranberry); 
    transition-duration: 0.4s;
    width: 200px;
    height:50px;
   }
   button:hover {
    background-color: var(--cranberry); /* Green */
    color: white;
  }


  /*Table*/

 table {
    width: 700px;
    border-collapse: collapse;
 }

 th {
    padding: 15px;
    padding-right:50px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: var(--cranberry);
    color: white;
 }
 
 td {
    padding: 15px;
    padding-left:50px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }

  tr:not(:first-child):hover{
    background-color: var(--cranberry);
    opacity: 50%;
    color: white;
    font-style: italic;
 }

