

button {
    float:left;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid white; 
    transition-duration: 0.4s;
    width: 200px;
    height:50px;
}
button:hover {
    background-color: var(--frenchblue); /* Green */
    color: white;
}


  .all {
    display: flex;
    align-items: center;
    justify-content: left;

  }

  .bio{
    float:left;
  }

  img{
    margin: 50px;
    margin-left: 0px;
  }

  .biolist li{
    list-style-type: disc;
    margin-left: 30px;
  }
  



